    text-align: center; /* Center-align text */
}

/* System button container styles */
.system-buttons {
    display: flex; /* Flex container */
    flex-wrap: wrap; /* Wrap items to next line */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Gap between buttons */
    margin-bottom: 20px; /* Margin bottom for spacing */
    margin-top: 20px; /* Margin top for spacing */
}

/* System button styles */
.system-btn {
    width: 150px; /* Button width */
    background-color: #df4209; /* Default button color */
    color: #fff; /* Text color */
}

/* Even system button styles */
.system-btn:nth-child(even) {
    background-color: #10922e; /* Even button color */
}

/* Center-align system image */
.system-image {
    align-items: center; /* Center-align items */
    display: block; /* Block-level display */
    margin: 0 auto; /* Center-align image */
    max-width: 320px; /* Maximum width */
    max-height: 240px; /* Maximum height */
    width: auto; /* Auto width */
    height: auto; /* Auto height */
}

/* Heading styles */
h3 {
    text-align: center; /* Center-align heading */
    margin-top: 20px; /* Margin top for spacing */
}

/* Flight log details container styles */
.flight-log-details {
    display: flex; /* Flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Margin bottom for spacing */
}

/* Details grid container styles */
.details {
    display: grid; /* Grid layout */
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 15px; /* Gap between columns */
}

/* Detail box styles */
.details div {
    background-color: #f1f1f1; /* Light grey background for each detail box */
    padding: 10px; /* Padding for each detail box */
    border-radius: 5px; /* Rounded corners */
    text-align: left; /* Align text to the left */
}

/* Detail label styles */
.details label {
    font-weight: bold; /* Bold text for labels */
}

/* Detail text styles */
.details span {
    display: block; /* Display block for each detail text */
}
